@import "../../styles/common";

.container {
    padding: 2rem;
    flex: 1 1;
    max-width: 50%;
}

button {
    background-color: map-get($color, "Alert");
    border: none;
    height: 4rem;
    width: 25rem;
    border-radius: 2.5rem;
    font-weight: 700;
    color: map-get($color, "Slate-900");
    display: flex;
    justify-content: center;
    align-items: center;
}

.termRate {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.extraContainer {
    max-width: 50%;
}



@media screen and (max-width: 768px) {
    .termRate {
        flex-direction: column;
    }
    .container {
        max-width: 100%;
    }

    .extraContainer {
        max-width: 100%;
    }
}