@import "../../styles/common";

.container {
    padding: 2rem;
}

button {
    background-color: map-get($color, "Alert");
    border: none;
    height: 4rem;
    width: 25rem;
    border-radius: 2.5rem;
    font-weight: 700;
    color: map-get($color, "Slate-900");
    display: flex;
    justify-content: center;
    align-items: center;
}
