@import "./common";

:global {
    .container {
        display: flex;
        align-items: start;
        flex-direction: column;
        font-size: 1.6rem;

        label {
            color: map-get($color, "Slate-700");
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
}
