@import "../../styles/common";

.container {
    margin-bottom: 1rem;
}

.radio {
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: map-get($color, "Slate-900") solid 1px;
    margin-bottom: 1rem;
    border-radius: 5px;
    accent-color: map-get($color, "Alert");
}

.selectContainer {
    border: map-get($color, "Alert") solid 1px;
    background-color: rgba(map-get($color, "Alert"), 0.2);
}
