@import "../../styles/common";

.container {
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 1.6rem;

    label {
        color: map-get($color, "Slate-700");
        font-weight: 700;
        margin-bottom: 1rem;
    }
}
.mockInput {
    //TODO: fix this width when Calculator Container is made, should be responsive.
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    color: map-get($color, "Slate-700");
    border: solid 1px map-get($color, "Slate-900");
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    overflow: hidden;

    // When any child inside .mockInput has focus
    &:focus-within {
        border: solid 1px map-get($color, "Alert"); // Change border on parent

        p {
            background-color: map-get(
                $color,
                "Alert"
            ); // Change background of p
        }
    }

    input {
        flex: 7 7;
        height: 80%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        font-family: inherit;
        font-weight: 700;
        color: map-get($color, "Slate-900");

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }

        // Hide spinners in Chrome, Safari, Edge, and Opera
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        // Hide spinners in Firefox
        & {
            -moz-appearance: textfield;
        }
    }

    p {
        flex: 1 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 100%;
        background-color: map-get($color, "Slate-100");
        font-weight: 700;
    }
}
